# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Database
database/*.db

# Logs
logs/

# Upload
uploads/*

# Export
exports/*

reports/*

# Environment
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db